/* Estilos generales */
nav {
    background-color: #FE0000;
    justify-content: left;
}

img {
    margin-left: 3rem;
    justify-content: left;
    padding-right: 40%;
}

span {
    color: white;
    padding: 15px;
}

.active {
    color: var(--text-color);
    background-color: white;
    font-weight: normal;
    padding: 15px;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
    nav {
        justify-content: center; /* Centrar el contenido en pantallas pequeñas */
    }

    img {
        margin-left: 1rem; /* Reducir el margen en pantallas pequeñas */
        padding-right: 20%; /* Reducir el relleno a la derecha en pantallas pequeñas */
    }

    span, .active {
        padding: 10px; /* Reducir el relleno para span y .active en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    img {
        margin-left: 0.5rem; /* Reducir aún más el margen en pantallas muy pequeñas */
        padding-right: 10%; /* Reducir el relleno a la derecha en pantallas muy pequeñas */
    }

    span, .active {
        padding: 8px; /* Reducir más el relleno en pantallas muy pequeñas */
    }
}
